<div class="OLSKTestimonialList">

<% OLSKTestimonialListData.forEach(function (e) { -%>
	<div class="OLSKTestimonialListItem OLSKCommonCard">
		<section>
			<span class="OLSKTestimonialListItemTitle"><%= e.title %></span>
			<span class="OLSKTestimonialListItemBlurb"><%= e.review %></span>
		</section>
	</div>
<% }) -%>

</div>
