<div class="OLSKTestimonialList">

<% OLSKTestimonialListData.forEach(function (e) { -%>
	<div class="OLSKTestimonialListItem OLSKCommonCard">
		<section>
			<div>
				<span class="OLSKTestimonialListItemTitle"><%= e.title %></span>
				<span class="OLSKTestimonialListItemStars" aria-hidden="true"><%= Array.from(Array(e.stars)).map(function () {
				return '★'
			}).join('') %></span>
			</div>
			<blockquote class="OLSKTestimonialListItemBlurb"><%= e.review %></blockquote>
			<span class="OLSKTestimonialListItemAuthor"><%= e.author %></span>
		</section>
	</div>
<% }) -%>

</div>
